<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Bienvenue sur la communauté Supernana !</h1>
      <p class="text-center">Rejoignez une chatroom et exprimez-vous !</p>

      <div class= "chat-menu">
        <p><% @chat_room.name %></p>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <%= link_to resources_path do %>
            <p><i class="fas fa-arrow-right m-2"></i>Retour aux infos</p>
          <% end %>
          <% @chat_rooms.each do |chat_room| %>
            <%= link_to chat_room_path(chat_room) do %>
              <li><%= chat_room.name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="chat-header"><h4>#<%= @chat_room.name %></h4></div>
      <div class="messages">

        <% if @chat_room.chat_messages.empty? %>
          <div class="message-vide">
            <h3>Oops..ce chat est vide. Soyez la première à poster un message !</h3>
          </div>
        <% else %>
          <% @chat_room.chat_messages.each do |message| %>
            <%= render "chat_messages/message", chat_message: message, user_is_messages_author:
            message.user == current_user %>
          <% end %>
        <% end %>
      </div>
      <div id="create-message">
        <%= simple_form_for [ @chat_room, ChatMessage.new ], remote: true, html: {autocomplete: "off" } do |f| %>
          <%= f.input :content, label: false, placeholder: "Écrivez votre message ici..." %>
          <%= f.button :submit, 'Envoyer le message', class: 's-button' %>

        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create({ channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> }, {
      received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
        }
      }
    })
  </script>
<% end %>
