<div class="green-bg">
  <div class="item-container">
      <%= link_to edit_user_registration_path do %>
        <i class="fas fa-cog settings"></i>
      <% end %>
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, width: 150, height: 150, gravity: :face, crop: :thumb, :zoom=>1.1, class: 'avatar-large' %>
      <% else %>
        <%= image_tag "profile.png", class: 'avatar-large' %>
      <% end %>
    <div class="profil-infos">
      <p><%= @user.first_name.capitalize %></p>
      <p><%= @user.last_name.capitalize %></p>
      <p><%= @user.email %></p>
    </div>
  </div>
</div>

<div class="item-container">
  <div class="info-container">
    <h4>Contacts d'urgence</h4>
    <% if @user.contacts.any? %>
        <% @contacts.each do |contact| %>
            <div class="profile-list">
              <p><strong><%= contact.first_name.capitalize %> <%= contact.last_name.capitalize %></strong>
              <%= contact.phone_number %></p>
              <%= link_to edit_user_contact_path(current_user.contacts.first) do %>
                <i class="fas fa-cog"></i>
              <% end %>
            </div>
        <% end %>
    <% else %>
      <p>Pas de contact ajouté!</p>
    <% end %>
  </div>
  <%= link_to "Ajouter un contact", new_user_contact_path(@user), class: 's-button' %>
</div>
