<h1>Welcome to your profile <%= @user.first_name %></h1>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>
<p><%= link_to "add a contact", new_user_contact_path %></p>
