<div class="green-bg">
  <div class="item-container">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: 'avatar-large' %>
      <% else %>
        <%= image_tag "profile.png", class: 'avatar-large' %>
      <% end %>
    <div class="profil-infos">
      <p><%= @user.first_name %></p>
      <p><%= @user.last_name %></p>
      <p><%= @user.email %></p>
      <%= link_to "Modifier", edit_user_registration_path %>
    </div>
  </div>
</div>

<div class="item-container">
  <p><%= link_to "Ajouter un contact", new_user_contact_path(@user), class: 's-button' %></p>
</div>
