<div id="main">
  <button class="openbtn"><</button>
</div>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn">×</a>
  <div class="sidebar-logo">
    <%= link_to "/" do %>
      <%= image_tag "s-logo.png" %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <%= link_to "Mon profil", user_path(current_user) %>
    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Se connecter", new_user_session_path %>
  <% end %>
  <%= link_to "Documentation", documents_path %>
</div>
