<div class= "s-container">
  <div class="item-container">
    <h1>Add an emergency contact</h1>
    <%= simple_form_for [@user, @contact] do |f| %>
    <%= f.input :first_name, as: :string, placeholder: 'Paul', label: 'First name', autofocus: true %>
    <%= f.input :last_name, as: :string, placeholder: 'Lepoulp', label: 'Last name', autofocus: true %>
    <div class="phone-number">
      <p>+ 41</p>
      <%= f.input :phone_number, as: :string, placeholder: '765 5575 52', label: 'Phone number', autofocus: true %>
    </div>
    <%= f.button :submit, 'Add a contact', class: 's-button' %>
    <% end %>
  </div>
</div>

