<div>
  <h1>Ajouter un contact d'urgence</h1>
  <%= simple_form_for [@user, @contact] do |f| %>
  <%= f.input :first_name, as: :string, placeholder: 'Paul', label: 'First name', autofocus: true %>
  <%= f.input :last_name, as: :string, placeholder: 'Lepoulp', label: 'Last name', autofocus: true %>
  <p>+ 41</p>
  <%= f.input :phone_number, as: :string, placeholder: '765 5575 52', label: 'Phone number', autofocus: true %>
  <%= f.button :submit, 'Ajouter ce contact' %>
  <% end %>
</div>

