<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <% if chat_message.user.photo.attached? %>
    <%= cl_image_tag chat_message.user.photo.key, width: 150, height: 150, gravity: :face, crop: :thumb, :zoom=>1.1, class: 'avatar-chat' %>
  <% else %>
    <%= image_tag "profile.png", class: 'avatar' %>
  <% end %>

  <div class="message-content">
    <div><p><strong><%= chat_message.user.first_name %> <%= chat_message.user.last_name %></strong> </p></div>
    <p><%= chat_message.content %></p>
    <p><%= chat_message.created_at.strftime("%y.%m.%d  %H:%M") %></p>
  </div>
</div>


