<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/assets/s-logo.png">
    <meta name="description" content="Supernana est une application pour lutter contre le harcèlement de rue. Elle déclenche une alarme et prévient vos proches en cas d'agression. Elle met également à disposition plusieurs ressources pour s'informer et agir contre ce problème.">
    <meta charset="UTF-8">
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
      type="text/css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SuperNana</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="<%= @button_page ? 'button-page' : ''%>">
    <%= render 'shared/navbar' unless @chatroom %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield :after_js %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
